<link rel="stylesheet" href="./css/main.css">
<link rel="stylesheet" href="./css/nav.css">


<nav class="nav-tap" id="hd-nav">
    <a class="logo" href="index.html"><h2>Employee Management</h2></a>
    <a href="index.html">Home</a>
    <a onclick="monkshu_env.components['navbar-com'].move(1)">Insert</a>
    <a onclick="monkshu_env.components['navbar-com'].move(2)">Data</a>
    <a onclick="monkshu_env.components['navbar-com'].move(3)">Update</a>
    <a onclick="monkshu_env.components['navbar-com'].move(4)">Delete</a>
</nav> <br/>